<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Autoscribe Test page</title>
    <script>
        function submit() {
            let vendor = document.getElementById('vendor').value;
            let data = document.getElementById('data').value;
            console.log(vendor);
            console.log(data);
            let req = document.getElementById('request');
            req.innerHTML = '<p>' + data + '</p>';
            
            const data3 = new FormData();
            data3.append('data', data);
            console.log(data3);
            fetch('/api/autoscribe/abfrl/vendor-tokens')
                .then(response => response.json())
                .then(data2 => {
                    console.log(data2);
                    fetch('/api/autoscribe/abfrl/reject/' + vendor,
                        {
                            method: 'post',
                            headers: { 'vendor-token': data2[vendor] },
                            body: data3
                        })
                        .then(response => response.json())
                        .then(response => {
                            console.log(response);
                            let res = document.getElementById('response');
                            res.innerHTML = '<p>' + JSON.stringify(response) + '</p>';
                        })
                });
        }
    </script>
</head>

<body>
    <h2>Submit JSON link from Slack post</h2>
    <table>
        <tr>
            <td>Vendor name</td>
            <td>
                <select name="vendor" id="vendor">
                    {% for vendor in vendors  %}
                        <option value="{{ vendor }} ">{{ vendor }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>JSON</td>
            <td><textarea id="data"></textarea></td>
        </tr>
        <tr>
            <td></td>
            <td><button id='submit' onclick="submit()">Submit</button></td>
        </tr>
        <table>
            <div>
                <h4>Request</h4>
                <div id="request"></div>
            </div>
            <div>
                <h4>Response</h4>
                <div id="response"></div>
            </div>
</body>

</html>