<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Translate to Markeplace ontologies</title>
</head>
<body>
<form method="post" enctype="multipart/form-data">
    <h3> Upload CSV file from Cataloging (to be translated using config: "{{ vendor }}")</h3>
    <table>
        <tr>
            <td>Upload file</td>
            <td><input type="file" name="file"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Upload"></td>
        </tr>
    </table>
</form>
</body>
</html>